{
    "debug":false,
	"color_projects":false,
    "unicode_borders":true,
    "todo_file_path": "TODO.txt",
    "WIP_identifier": "@WIP",
    "editor_path": "/usr/bin/nvim",
    "headings":{
        "heading_intake": "FUNNEL",
        "heading_in_progress": "DOING",
        "heading_done":"DONE"
    },
    "alternate_today":"heute",
    "alternate_tomorrow":"morgen"
}
